<ion-header>
  <ion-navbar>
    <ion-title>Usuarios</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (input)="onSearchInput()"></ion-searchbar>
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
  <ion-list>
    <ion-item *ngFor="let item of items" (click)="showPrompt(item)">
      <ion-avatar item-start>
        <img src="{{item.user_avatar}}">
      </ion-avatar>
      <h2>{{item.display_name}}</h2>
      <!--  <p class="paciente-cedula">{{item.cedula}}</p> -->
    </ion-item>
  </ion-list>

  <div *ngIf="showListAlphabetical">
    <ion-item-group>
      <ion-item *ngFor="let paciente of pacientes" class="user-item" (click)="showPrompt(paciente)">
        <ion-avatar item-start>
          <img src="{{paciente.user_avatar}}">
        </ion-avatar>
        <h2>{{paciente.display_name}}</h2>
        <!-- <p class="paciente-cedula">{{paciente.cedula}}</p> -->
      </ion-item>
    </ion-item-group>
  </div>
</ion-content>
