<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contactos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <img src="assets/imgs/logo.png" alt="Logotipo Artek Odontología Láser" width="180">
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let contacto of contactosData" class="sede">
      <ion-col size="6">
        <p>
          <ion-icon name="pin" class="direction"></ion-icon>
          <span>{{contacto.sede}}</span>
        </p>
        <p>
          <ion-icon name="map" class="direction"></ion-icon>
          <span>
            <a
              href="https://www.google.com/maps/search/?api=1&query={{contacto.directionCode}}">{{contacto.direccion}}</a>
          </span>
        </p>
      </ion-col>
      <ion-col size="6">
        <p>
          <ion-icon name="call" class="direction"></ion-icon>
          <span><a href="tel:{{contacto.telefono}}">{{contacto.telefono}}</a></span>
        </p>
        <p>
          <img src="assets/icon/wa_icon.png" width="19">
          <span><a
              href="https://wa.me/+57{{contacto.whatsapp}}?text=Hola,%20quisiera%20obtener%20información%20sobre...%20">+{{contacto.whatsapp}}</a></span>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
