<ion-header margin-bottom>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mis puntos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content margin-top padding *ngIf="showPage">
  <div class="header">
    <img [src]="userThumbnail" *ngIf="userThumbnail" class="user-thumbnail" (click)="goToMisDatos()">
    <img [src]="defaultThumbnail" *ngIf="!userThumbnail" class="user-thumbnail" (click)="goToMisDatos()">
    <h3>{{userDataProvider.getName()}}</h3>
    <p class="is-client">{{userDataProvider.getStatus()}} Artek</p>
  </div>

  <ion-slides pager class="paquetes">
    <ion-slide *ngFor="let paquete of paquetes" (click)="viewPaquete(paquete)">
      <img class="image-paquete" src="{{ paquete.featureMediaUrl }}" alt="">
      <h2 class="title-paquete">{{ paquete.title.rendered }}</h2>
      <!--    <p class="description-paquete" [innerHTML]="paquete.excerpt.rendered"></p> -->
    </ion-slide>
  </ion-slides>

  <div class="mis-puntos">
    <p>Mis puntos <span class="puntos">{{userDataProvider.getUserData().user_points}}</span></p>
  </div>

  <ion-list no-lines>
    <!--
      <ion-item (click)="leerPuntosQr()">
        <ion-icon name="logo-buffer" item-start></ion-icon>
        <h2>Obtener Puntos QR</h2>
        <p>Leer</p>
        <ion-icon name="arrow-dropright" item-end></ion-icon>
      </ion-item>
      -->
    <!--
      <ion-item margin-top (click)="showPrompt()">
        <ion-icon name="logo-buffer" item-start></ion-icon>
        <h2>Generar codigo QR</h2>
        <p>Acceder</p>
        <ion-icon name="arrow-dropright" item-end></ion-icon>
      </ion-item>
      -->

    <ion-item margin-top (click)="goToUserList()">
      <ion-icon name="swap" item-start></ion-icon>
      <h2>Transferir Puntos</h2>
      <p>Acceder</p>
      <ion-icon name="arrow-dropright" item-end></ion-icon>
    </ion-item>
    <ion-item margin-top text-wrap>
      <h2>¿CÓMO GANAR PUNTOS?</h2>
      <p style="text-align: justify;">Cuando cancelas de contado, por cada millón obtendrás 35 puntos. <br>
        Cuando cancelas procedimiento a procedimiento, por cada 2 millones obtendrás 35 puntos. <br>
        Ganarás 10 puntos por cada paciente referido.
      </p>
    </ion-item>
  </ion-list>
</ion-content>
