<ion-header>
  <ion-navbar>
    <ion-title>Registro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <img src="assets/imgs/logo.png" alt="Logotipo Artek Odontología Láser" width="180">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item margin-bottom class="list-item">
            <ion-label stacked>Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="firstName"></ion-input>
          </ion-item>

          <ion-item margin-bottom class="list-item">
            <ion-label stacked>Apellido</ion-label>
            <ion-input type="text" [(ngModel)]="lastName"></ion-input>
          </ion-item>

          <ion-item margin-bottom class="list-item">
            <ion-label stacked>Cédula</ion-label>
            <ion-input type="text" [(ngModel)]="username"></ion-input>
          </ion-item>

          <ion-item margin-bottom class="list-item">
            <ion-label stacked>Fecha de nacimiento</ion-label>
            <ion-datetime display-format="DD-MMM-YYYY HH:mm"
              monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic" [(ngModel)]="birthdate"
              (ionChange)="updateMyDate(birthdate)">
            </ion-datetime>
          </ion-item>

          <ion-item margin-bottom class="list-item">
            <ion-label stacked>Email</ion-label>
            <ion-input type="email" [(ngModel)]="email"></ion-input>
          </ion-item>

          <ion-item margin-bottom class="list-item">
            <ion-label stacked>Password</ion-label>
            <ion-input [type]="passwordType" [(ngModel)]="password"></ion-input>
            <button class="showhidePass" color="light" ion-button type="button" clear item-end (click)="showHide()">
              <ion-icon [name]="passwordIcon"></ion-icon>
            </button>
          </ion-item>

          <ion-item margin-bottom class="list-item">
            <ion-label stacked>Repetir password</ion-label>
            <ion-input [type]="passwordType" [(ngModel)]="rePassword"></ion-input>
            <button class="showhidePass" color="light" ion-button type="button" clear item-end (click)="showHide()">
              <ion-icon [name]="passwordIcon"></ion-icon>
            </button>
          </ion-item>

          <ion-item margin-bottom class="list-item" *ngIf="isYoung">
            <ion-checkbox color="dark" [(ngModel)]="acceptedTerms"></ion-checkbox>
            <ion-label stacked>Acepto condiciones y restricciones </ion-label>
          </ion-item>
          <ion-item *ngIf="isYoung">
            <ion-label (click)="presentConfirm()" stacked>Ver términos de uso </ion-label>
          </ion-item>
          <button ion-button full margin-top (click)="signUp()">Registarme</button>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
